---
import {basics, languages} from '@cv'
import {title, images, description, meta, characteristics} from '@info'
import Section from '@/components/Section.astro'
import Mail from '@/icons/Mail.astro'
import Phone from '@/icons/Phone.astro'
import X from '@/icons/X.astro'
import LinkedIn from '@/icons/LinkedIn.astro'
import GitHub from '@/icons/GitHub.astro'
import Discord from '@/icons/Discord.astro'
import WorldMap from '@/icons/WorldMap.astro'
import { imageConfig } from 'astro:assets'
---

<Section>

</Section>

<script>


</script>

<style>

</style>