---
import Layout from '@/layouts/Layout.astro';

import NavBar from '@/components/sections/NavBar.astro';
import Hero from '@/components/sections/Hero.astro'
import About from '@/components/sections/About.astro'
import Experience from '@/components/sections/Experience.astro'
import Education from '@/components/sections/Education.astro'
import Certifications from '@/components/sections/Certifications.astro'
import Skills from '@/components/sections/Skills.astro'
import Projects from '@/components/sections/Projects.astro'
import KeyboardManager from '@/components/KeyboardManager.astro'

import { title } from '@info'
---

<Layout title={`Profile of ${title}`}>
	<main>
		<div class="block">
			<NavBar />
			<Hero />
			<!--  <About />
			<Experience />
			<Projects />
			<Education />
			<Skills />
			<Certifications/>-->
		</block>
	</main>
	<KeyboardManager />
</Layout>

<style>

	body {
		background: #161813;
	}
	
</style>
