---
import Layout from '@/layouts/Layout.astro';

import Explore from '@/components/sections/Explore.astro';
import Hero from '@/components/sections/Hero.astro'
import Services from '@/components/sections/Services.astro';
import Rooms from '@/components/sections/Rooms.astro';
import Book from '@/components/sections/Book.astro';
import Footer from '@/components/sections/Footer.astro'

import KeyboardManager from '@/components/KeyboardManager.astro'

import { title } from '@info'
---

<Layout title={`Profile of ${title}`}>
	<main>
		<div class="block">

			<header>
				<nav class="navbar">
					<ul class="links-container">
						<li class="link-item"><a href="#Rooms">Rooms</a> </li>
						<li class="link-item"><a href="#explore-section">Explore</a> </li>
		
						<li class="link-item">
							<a href="#hero-section">
								<img src="/public/profile.png" class="logo" alt="logo">
							</a>
						</li>
		
						<li class="link-item"><a href="#services">Services</a> </li>
						<li class="link-item"><a href="#booknow">Book </a> </li>
					</ul>
				</nav>
				<Hero />
			</header>
			<Explore />
			<Services />
			<Rooms />
			<Book />
			<Footer />
		</block>
	</main>
	<!-- <KeyboardManager /> -->
</Layout>

<script>

	const navbar = document.querySelector('.navbar');

	window.addEventListener('scroll', () => {
		if (scrollY >= 188) {
			navbar?.classList.add('bg');
		} else {
			navbar?.classList.remove('bg');
		}
	})

</script>

<style>

	body {
		background: #161813;
	}

	.navbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100px;
        padding: 20px 30px;
		transition: .5s;
    }

    .navbar.bg {
        background: #161813;
    }

    .links-container {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    .logo {
        height: 50px;
        margin-top: 10px;
    }

    .link-item {
        margin: 0 30px;
        transform: .5s;
    }

    .link-item a {
        color: #fff;
        text-decoration: none;
        padding: 20px;
    }

	@media screen and (max-width: 996px) {
		.link-item {
			margin: 0 10px; 
		}
	}

	@media screen and (max-width: 798px) {
		.navbar {
			height: auto; 
		}

		.link-item {
			margin-top: 80px;
			text-align: center;
		}

		.link-item {
			margin-top: 80px;
			text-align: center;
		}

		.link-item:nth-child(3) {
			margin: -50px -30px 0 -30px;
		}

		.link-item a {
			padding: 10px;
			margin:  auto;
			display: block;
		}
	}
	
</style>
