---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="🤖 Bvlevar 21 1002 👾" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href="/profile.png" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'suse-font';
		src: url('/fonts/suse-font.ttf'); 
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	html {
		font-family: 'suse-font';
		letter-spacing: -0.025rem;
	}

	body, figure {
		margin:0;
		padding: 0;
	}

	a {
		text-decoration: none;
	}

	a:hover{
        text-decoration: underline;
    }

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	*, *::before, *::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	h1, h2, h3, h4 {
		color: #111111;
		margin: 0;
		font-family: 'suse-font';
	}

	p {
		color: #212121;
		font-size: 0.95rem;
		line-height: 1.5;
		margin: 0;
		text-wrap: pretty;
	}

	:root{
    	--gradient-top: linear-gradient(0deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.22) 36.98%, rgba(22, 24, 19, 0.47) 70.83%, rgba(22, 24, 19, 0.76) 100%);
    	--gradient-bottom: linear-gradient(180deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.42) 21.88%, rgba(22, 24, 19, 0.69) 41.67%, rgba(22, 24, 19, 0.9) 61.98%, rgba(22, 24, 19, 0.99) 78.12%, #161813 100%);
    	--sphere-gradient-one: radial-gradient(50% 50% at 20% 25%, #686868 0%, #403F3F 35%, #222222 70%, #000000 100%);
    	--sphere-gradient-two: radial-gradient(51.04% 51.04% at 18.94% 26.18%, #686868 0%, #403F3F 36.98%, #222222 70.83%, #000000 100%);
	}
</style>
